<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post | <%= locals.doc.createdBy%></title>
    	<!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
      crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
      ntegrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
      crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href=".././css/dashboard.css">
      <link rel="stylesheet" href=".././css/common.css">
      <link rel="stylesheet" href=".././css/form.css">
      <link rel="stylesheet" href=".././css/editor.css">
      <link rel="stylesheet" href=".././css/search.css">
</head>
<body style="background-color: #f5f7ff;">
    <%- include('header'); -%>
    <div class="row postContainer" id="f">
        <div class="postDiv col-lg-8 col-12">
            <div class="userPhoto">
                <img src="<%= ((locals.doc.image!="./images/user.png")?locals.doc.image:".././images/user.png")%>" alt="">
                <div class="userDet">
                  <h4> <a href="/user/<%= locals.doc.userId%>" target="_blank"><%= locals.doc.createdBy%></a></h4>
                  <h6> <%= locals.doc.designation%></h6>
                  <p><%=timeSince(locals.doc.createdAt)%></p>
                </div>
            </div>
            <div class="title">
              <h4> <%= locals.doc.title%></h4>
              <h6><%= locals.doc.short_description%></h6>
              <div class="content" id = "contentCol" style="text-align:left; height:fit-content;"><%-locals.content%></div>
              <h4>Category : <%= locals.doc.category%></h4>
            </div>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous"></script>
    <% 
        function timeSince(date) {

        var seconds = Math.floor((new Date() - date) / 1000);
      
        var interval = seconds / 31536000;
      
        if (interval > 1) {
          return Math.floor(interval) + " yr";
        }
        interval = seconds / 2592000;
        if (interval > 1) {
          return Math.floor(interval) + " mon";
        }
        interval = seconds / 86400;
        if (interval > 1) {
          return Math.floor(interval) + " day";
        }
        interval = seconds / 3600;
        if (interval > 1) {
          return Math.floor(interval) + " hrs";
        }
        interval = seconds / 60;
        if (interval > 1) {
          return Math.floor(interval) + " min";
        }
        return Math.floor(seconds) + " sec";
      } %> 
</body>