<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | <%= locals.user.name %></title>
    	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
	ntegrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
	crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/dashboard.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/form.css">
  <link rel="stylesheet" href="./css/editor.css">
  <link rel="stylesheet" href="./css/search.css">

</head>
<body class="">
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Basic Info Update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mainCon">
            <form  method="post" action="/api/updateUser" >
                <h4>Update Details</h4>
                <div class="inputCon">
                    <i class="fa-solid fa-user"></i>
                    <input required type="text" placeholder="Full Name" name="name" value="<%= locals.user.name %> ">
                </div>
                <div class="inputCon">
                    <i class="fa-solid fa-grip-lines"></i>
                    <input required type="text" placeholder="Bio" name="bio" value="<%= locals.user.bio %> ">
                </div>
                <div class="inputCon">
                    <i class="fa-solid fa-location-dot"></i>
                    <input required type="text" placeholder="City" name="city" value="<%= locals.user.city %> ">
                </div>
                <div class="inputCon">
                    <i class="fa-solid fa-envelope"></i>
                    <input required type="email" placeholder="Email" name="email" value="<%= locals.user.email %> ">
                </div>
                <div class="inputCon">
                    <i class="fa-brands fa-linkedin"></i>
                    <input required type="url" placeholder="Linkedin URL" name="linkedin" value="<%= locals.user.linkedin %> ">
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">College Info Update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mainCon">
            <form  method="post" action="/api/updateUser" >
                <h4>Update Details</h4>
                <div class="inputCon">
                    <i class="fa-solid fa-file"></i>
                    <input required type="text" placeholder="Degree" name="degree" value="<%= locals.user.degree %> ">
                </div>
                <div class="inputCon">
                  <i class="fa-solid fa-flask-vial"></i>
                  <input required type="text" placeholder="Branch" name="branch" value="<%= locals.user.branch %> ">
                </div>
                <div class="inputCon">
                    <i class="fa-solid fa-list"></i>
                    <input required type="text" placeholder="Batch" max="2022" min="1950" name="batch" value="<%= locals.user.batch %> ">
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Experience Update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mainCon">
            <form  method="post" action="/api/updateUser" >
                <h4>Update Details</h4>
                <div class="inputCon">
                  <i class="fa-solid fa-building"></i>
                    <input required type="text" placeholder="Company" name="company" value="<%= locals.user.company %> ">
                </div>
                <div class="inputCon">
                    <i class="fa-solid fa-pen-nib"></i>
                    <input required type="text" placeholder="Designation" name="designation" value="<%= locals.user.designation %> ">
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>

    <nav class="sidebar close">
        <header>
          <div class="image-text">
            <span class="image">
            </span>
      
            <div class="text logo-text">
              <span class="name">  <a href="/"> UIET Connect </a> </span>
            </div>
          </div>
          <i class="fa-solid fa-bars toggle"></i>
        </header>
      
        <div class="menu-bar">
          <div class="menu">
      
            <ul class="menu-links">
              <li class="nav-link">
                <a href="#feed" id="dash0">
                  <i class="fa-solid fa-house icon"></i>
                  <span class="text nav-text">Feeds</span>
                </a>
              </li>
      
              <li class="nav-link">
                <a href="#profile" id="dash1">
                  <i class="fa-solid fa-user  icon"></i>
                  <span class="text nav-text">Profile</span>
                </a>
              </li>

              <li class="nav-link">
                <a href="#search" id="dash2">
                  <i class="fa-solid fa-magnifying-glass icon"></i>
                  <span class="text nav-text">Search</span>
                </a>
              </li>

              <li class="nav-link">
                <a href="#new" id="dash3">
                  <i class="fa-solid fa-bullhorn icon"></i>
                  <span class="text nav-text">Notifications</span>
                </a>
              </li>

              <li class="nav-link">
                <a href="#setting" id="dash4">
                  <i class="fa-solid fa-gear icon"></i>
                  <span class="text nav-text">Settings</span>
                </a>
              </li>
   
            </ul>
          </div>
      
          <div class="bottom-content">
            <li class="">
              <a href="/logout">
                <i class="fa-solid fa-right-from-bracket icon"></i>
                <span class="text nav-text">Logout</span>
              </a>
            </li>
      
            <!-- <li class="mode">
              <div class="sun-moon">
                <i class="fa-solid fa-sun icon sun"></i>
                <i class="fa-solid fa-moon icon moon"></i>
              </div>
              <span class="mode-text text">Dark mode</span>
      
              <div class="toggle-switch">
                <span class="switch"></span>
              </div>
            </li> -->
      
          </div>
        </div>
      
      </nav>
      
      
        <section class="home">
<!-- ------------------------------------------------------ Feed Section ------------------------------------------------------ -->

           <div class="sectionHeader">
             <img src="<%= ((locals.user.image)?locals.user.image:"./images/user.png")%>" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item active" href="/">Home Page</a></li>
              <li><a class="dropdown-item" href="/comingsoon">Events Page</a></li>
              <li><a class="dropdown-item" href="/comingsoon">Talk to Alumni </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
           </div>
           <div class="row hidden pt-10" id="profile">
           <!-- <div class="row dataForm" >
            <div class="col-lg-6 col-md-7 col-11 mainCon">
              <form  method="post" action="/api/updateUser" >
                  <h4>Update Details</h4>
                  <div class="inputCon">
                      <i class="fa-solid fa-user"></i>
                      <input required type="text" placeholder="Full Name" name="name" value="<%= locals.user.name %> ">
                  </div>
                  <div class="inputCon">
                      <i class="fa-solid fa-envelope"></i>
                      <input required type="email" placeholder="Email" name="email" readonly value="<%= locals.user.email%>">
                  </div>
                  <div class="inputCon">
                      <i class="fa-solid fa-pen-nib"></i>
                      <input required type="text" placeholder="Designation" name="designation" value="<%= locals.user.designation%>">
                  </div>
                  <div class="inputCon">
                      <i class="fa-solid fa-image"></i>
                      <input required type="url" placeholder="Image Url" name="image" value="<%= locals.user.image%>">
                  </div>
                </div>
                <div class="col-lg-6 col-md-7 col-11 mainCon">
                  <div class="inputCon">
                      <i class="fa-solid fa-list"></i>
                      <input required type="text" placeholder="Batch" max="2022" min="1950" name="batch" value="<%= locals.user.batch%>">
                  </div>
                  <div class="inputCon">
                      <i class="fa-solid fa-file"></i>
                      <input required type="text" placeholder="Degree" name="degree" value="<%= locals.user.degree%>">
                  </div>
                  <div class="inputCon">
                    <i class="fa-solid fa-flask-vial"></i>
                    <input required type="text" placeholder="Branch" name="branch" value="<%= locals.user.branch%>">
                  </div>
                </div>
                <div class="col-lg-6 col-md-7 col-11 mainCon">
                  <div class="inputCon">
                      <i class="fa-solid fa-location-dot"></i>
                      <input required type="text" placeholder="City" name="city" value="<%= locals.user.city%>">
                  </div>
                  <div class="inputCon">
                      <i class="fa-brands fa-linkedin"></i>
                      <input required type="url" placeholder="Linkedin URL" name="linkedin" value="<%= locals.user.linkedin%>">
                  </div>
                  <div class="center">
                      <input class="custBTN" type="submit" value="Submit">
                  </div>
              </form>
          </div>
           </div> -->
           <div class="row profileCon">
            <div class="col-md-8 col-lg-6 col-12 basicInfo">
            <span data-bs-toggle="modal" data-bs-target="#exampleModal1" class="editBTN">Edit</span>
                <img src="<%= ((locals.user.image)?"./images/user.png":"./images/user.png")%>" alt="">
                <div class="dataDetail">
                    <div class="Name"><%= locals.user.name%></div>
                    <div class="Bio"><%= locals.user.bio%></div>
                    <div class="City"> <a href="https://www.google.com/maps/place/<%= locals.user.city%>" target="_blank" rel="noopener noreferrer"> <%= locals.user.city%> </a></div>
                    <div class="Contact">
                        <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=<%= locals.user.email%>" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i></a>
                        <a href="<%= locals.user.linkedin%>" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 col-12 infoContaner">
                <span data-bs-toggle="modal" data-bs-target="#exampleModal2" class="editBTN">Edit</span>
                <div class="title">Education</div>
                <div class="infoContanerInner">
                    <img src="./images/logo.png" alt="">
                    <div class="dataDetail">
                        <div class="TitleName">University Institute Of Engineering And Technology, Kanpur</div>
                        <div class="subPart"><%= locals.user.degree %> - <%= locals.user.branch%> </div>
                        <div class="timeDur"><%= locals.user.batch %> - <%= locals.user.batch + 4%></div>
                    </div>
                </div>
                
                
            </div>
            <div class="col-md-8 col-lg-6 col-12  infoContaner">
                <span data-bs-toggle="modal" data-bs-target="#exampleModal3" class="editBTN">Edit</span>
                <div class="title">Experience</div>
                <div class="infoContanerInner">
                    <img src="./images/clogo.png" alt="">
                    <div class="dataDetail">
                        <div class="TitleName"><%= locals.user.company %></div>
                        <div class="subPart"><%= locals.user.designation %></div>
                        <div class="timeDur">2020 - 2024</div>
                    </div>
                </div>
                
            </div>
        
        <div class="col-md-8 col-lg-6 col-12 infoContaner">
            <div class="title">Posts</div>
          <% if(locals.doc.length<=0) {%>
            <div class="infoContanerInner">
              <div class="dataDetail">
                  <div class="subPart"><%= locals.user.name%> haven't post yet.</div>
              </div>
          </div>
           <% }else { for(let i = locals.doc.length-1 ;i>=0;--i){%>
              <div class="infoContanerInner">
                <div class="dataDetail">
                    <div class="TitleName">  <a href="/post/<%= locals.doc[i]._id%> " target="_blank"> <%= locals.doc[i].title %> </a></div>
                    <div class="subPart"><%= locals.doc[i].short_description %> </div>
                    <div class="timeDur"><strong><%= timeSince(locals.doc[i].createdAt) %> </strong></div>
                </div>
            </div>
           <% }} %>
            
        </div>
    </div>

          </div>


<!-- ------------------------------------------------------ Profile Section ------------------------------------------------------ -->
        <div class="row postContainer" id="feed">

        </div>

<!-- ------------------------------------------------------ Search Section ------------------------------------------------------ -->
        <div class="row  hidden pt-10" id="new">

          <div class="row dataForm">
            <div class="col-lg-6 col-md-7 col-11 mainCon">
              <form  method="post" action="/api/createPost" >
                  <h4>Create Notification</h4>
                  <div class="inputCon">
                    <i class="fa-solid fa-quote-left"></i>
                      <input required type="text" placeholder="Title of feed" name="title">
                  </div>
                  <div class="inputCon">
                    <i class="fa-regular fa-pen-to-square"></i>
                      <input required type="text" placeholder="Short description of post" name="short_description">
                  </div>
                 <div class="selectCon">
                  <div class="selectType">
                    <i class="fa-solid fa-list"></i>
                    <select name="category" placeholder="Select a category..."name="category">
                      <option value="">Select a category...</option>
                      <option value="Internship">Internship</option>
                      <option value="Job">Job</option>
                      <option value="Referral">Referral</option>
                      <option value="Random">random</option>
                    </select> 
                   </div>
  
                   <div class="selectType">
                    <i class="fa-solid fa-lock"></i>
                      <select name="postType" placeholder="Visibility of notification..."name="visibilty">
                      <option value="">Post visibility...</option>
                      <option value="private">Registered User Only</option>
                      <option value="everyone">Everyone</option>
                    </select> 
                   </div>
                 </div>

                  <div id="editor-container" class="editorCon"></div>
                  <!-- <div class="value1" id="value1"> </div> -->
                  <div class="center">
                      <input class="custBTN" type="submit" value="Create Post" id="okSubmit">
                  </div>
                  <textarea class="hidden" name="post" id="postValue" rows="10"></textarea>
              </form>
          </div>
         </div>
        </div>

<!-- ------------------------------------------------------ Notification Section ------------------------------------------------------ -->
<div class="row  hidden pt-5" id="search">

  <div class="mainConSer row">
    <div class="col-md-10 col-lg-8">
     <div class="mainInput row">
         <div class="col-md-5 col-12 inputField borderRight">
             <h6 class="title">
                 Search
             </h6>
             <div class="inputArea1">
                 <input type="search" placeholder="Enter Name" id="name">
             </div>
         </div>
         <div class="col-md-7 col-12 inputField">
             <h6 class="title">
                 Filter
             </h6>
             <div class="inputArea2 ">
                 <input type="search"  placeholder="Enter Batch" id="batch">
                 <input type="search"  placeholder="Enter Branch" id="branch">
                 <input class="custBTN" type="submit" value="Search" id="searchDet">
             </div>
         </div>
        </div>
    </div>
 </div>
 <div class="result row">

  </div>
</div>


<!-- ------------------------------------------------------ Setting Section ------------------------------------------------------ -->
        <div class="row  hidden pt-5" id="setting">
          <div class="row dataForm">
            <div class="col-lg-6 col-md-7 col-11 mainCon">
               <form  method="get" action="/noPermission" >
                  <h4>Change Password</h4>
                  <label for="">Enter current password</label>
                  <div class="inputCon">
                      <i class="fa-solid fa-lock-open"></i>
                      <input required type="text" placeholder="Current Password" name="old_password">
                  </div>
                  <label for="">Enter new password</label>
                  <div class="inputCon">
                    <i class="fa-solid fa-lock"></i>
                    <input required type="password" placeholder="New Password" name="old_password">
                  </div>
                  <div class="inputCon">
                    <i class="fa-solid fa-lock"></i>
                    <input required type="text" placeholder="Confirm password" name="old_password">
                  </div>
                  <div class="center">
                      <input class="custBTN" type="submit" value="Change Now" id="updatePass">
                  </div>
              </form>
          </div>
         
            <div class="col-lg-6 col-md-7 col-11 mainCon">
              <form  method="get" action="/noPermission" >
                  <h4>Delete my Account</h4>
                  <h5>Once you delete your account, there is no going back. Please be careful. We will immediately delete all of your data, along with all of your posts.</h5>
                  <input class="custBTND" type="submit" value="Delete Account" id="delAccount">
                </form>
            </div>
          </div>
        </div>

        </div>        
<!-- ------------------------------------------------------ The end Section ------------------------------------------------------ -->        
        </div>
      </section>


      	<!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
      crossorigin="anonymous"></script>
      <script src="./js/dashboard.js"></script>
      <script src="./js/editor.js"></script>
      <script src="./js/search.js"></script>
      <% function timeSince(date) {

        var seconds = Math.floor((new Date() - date) / 1000);
      
        var interval = seconds / 31536000;
      
        if (interval > 1) {
          return Math.floor(interval) + " yr";
        }
        interval = seconds / 2592000;
        if (interval > 1) {
          return Math.floor(interval) + " mon";
        }
        interval = seconds / 86400;
        if (interval > 1) {
          return Math.floor(interval) + " day";
        }
        interval = seconds / 3600;
        if (interval > 1) {
          return Math.floor(interval) + " hrs";
        }
        interval = seconds / 60;
        if (interval > 1) {
          return Math.floor(interval) + " min";
        }
        return Math.floor(seconds) + " sec";
      } %> 
</body>
</html>